[submodule "Lab2/react-azure-static-web-app"]
	path = Lab2/react-azure-static-web-app
	url = git@github.com:bbachi/react-azure-static-web-app.git
[submodule "Lab2/express-app-testing-demo"]
	path = Lab2/express-app-testing-demo
	url = git@github.com:gregjopa/express-app-testing-demo.git
